/**REMEMBER: Mobile-First CSS*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.hide-mobile { /*! */
  display: none; /*Hides all elements and their sub-elements of class: hide-mobile*/
}

body {
  margin: 0;
  background-color: white; /*Default is white*/
  font-family: 'Montserrat';
}

p, blockquote {
  font-size: .9em;
  /*em is a scalable unit
   *Default: 1em = 12pt = 16px = 100%
  */

  line-height: 1.6em;
  /*line-height is the spacing between lines
   *i.e. "double spaced" or "1.15"
  */
}

ul {
  list-style-type: none; /* Gets rid of bullet point in front of list items*/
  margin: 0; /*Whitespace outside of the specified element*/
  padding: 0; /*Whitespace within the specified element*/
}

.container {
  text-align: center;
  padding: .8em 1.2em;
  /*padding: [Top] [Left] [Bottom] [Right];
   *If only one is specified, it applies to all directions
   *Write [auto] for values to be calculated
   *Ex: padding: 2em auto 2em 25%;
  */
}

header {
	display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-areas: "logo space menu";
  align-items: center;
}

nav {
  grid-area: menu;
  text-align: right;}

.menu {
  width: 25px; /*Doesn't need to change b/c phone screens have little variation*/
  height: 25px;
  padding-right: 5%;
}

.logo {
  width: 100%;}

.server {
  width: 70%;
  margin: 2em auto 2em 25%;
}

h1, .subhead {
  position: relative;
  z-index: 3;
}

.subheader {
  font-size: 1.1em;
}

/** SLOGAN **/

section {
  margin-bottom: 3.6em;
}

/** INFO POINTS **/

.blue-container {
  width: 100%;
  background: #00C2FF;
  color: white;
  margin-top: 15% 0 0 0;
  padding: 4em 0 0;
  border-top-left-radius: 40px; /*Edge Rounding! Also possible to use percentages!*/
  transform: skewY(-2deg);
}

.blue-container::before { /*Double colon is for CSS 3 specification for pseudo elements*/
  content: '';
  width: 40px;
  height: 40px;
  background-color: #00C2FF;
  position: absolute;
  top: calc(-1*(40px - 1px)); /*Brings the box down one for some overlap*/
  right: 0;
  z-index: -2;
}

.blue-container::after { /*Double colon is for CSS 3 specification for pseudo elements*/
  content: '';
  width: calc(40px * 2); /*Multiply by two so circle's center is in the top left*/
  height: calc(40px * 2); /*Multiply by two so circle's center is in the top left*/
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: calc(-1*(40px*2));
  right: 0;
  z-index: -1;
}

.blue-container .container {
  transform: skewY(2deg); /*Unskews the elements inside blue-container*/
}

.blue-container li {
  margin-bottom: 3em;
}

.blue-container img {
  width: 14%;
}

.blue-container li:nth-child(3) img {
  width: 9%;
}

.blue-container li:nth-child(3) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.blue-box {
  background: linear-gradient(to Bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%,#00C2FF 50%,#00C2FF 100%);;
  padding-bottom: 2%;
}

/** TESTIMONIALS **/

.grey-container {
  background: #F6F6F6; /*#F6F6F6*/
  width: 100%;
  padding: 3em 0 3em;
  margin-bottom: 2em;
}

.grey-container li:first-child {
  margin-bottom: 3.2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #00C2FF;
}

/** CTA **/

.cta-container {
  padding-bottom: 3.3em;
}

.cta-btn {
  display: block;
  background: #00CC80;
  color: white;
  font-size: 1.5em;
  text-decoration: none; /*Gets rid of link underline*/
  border-radius: 2em; /*Make this around or double the font size. In this case, it's 12pts = 16px = 1em*/
  width: calc(100% - 1em);
  padding: 0.5em;
  position: relative; /*Allows z-index to work*/
  z-index: 4; /*Prevents interference with the footer*/
}

/** FOOTER **/

.footer-container {
  background: #3D444A;
  color: white;
  padding: 3.2em 0 2em;
  width: 100%;
  text-decoration: none;
  transform: skewY(2deg);
  border-top-right-radius: 40px;
}

.footer-container::before { /*Double colon is for CSS 3 specification for pseudo elements*/
  content: '';
  width: 40px;
  height: 40px;
  background-color: #3D444A;
  position: absolute;
  top: calc(-1*(40px - 1px)); /*Brings the box down one for some overlap*/
  left: 0;
  z-index: -2;
}

.footer-container::after { /*Double colon is for CSS 3 specification for pseudo elements*/
  content: '';
  width: calc(40px * 2); /*Multiply by two so circle's center is in the top left*/
  height: calc(40px * 2); /*Multiply by two so circle's center is in the top left*/
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: calc(-1*(40px*2));
  left: 0;
  z-index: -1;
}

.footer-container .container {
  transform: skewY(-2deg);
}

footer {
  background: linear-gradient(to Bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%,#3D444A 50%,#3D444A 100%);;
  padding-bottom: 2%;
}

footer .logo {
  height: 2.2em;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #9D9D9D;
  font-size: 0.8em;
}

/** NAVIGATION **/

nav ul {
  background: #24292D;
  text-align: left;
  position: fixed; /*Fixes it in place even when scrolling*/
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 7;
}

nav ul li {
  background: #32373b;
  /*background: #2E3337;*/
  width: 100%;
  padding: 1em 2em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.exit-btn {
  background: none;
  text-align: right;
  padding: 0em; /*Overwrites the padding declarations for other nav btns*/
}

.exit-btn img{
  background: none;
  text-align: right;
  margin: 1.6em 1.6em 1em;
  width: 18px;
  cursor: pointer; /*Changes cursor to pointing finger when hovering over the exit btn*/
}