/**REMEMBER: Mobile-First CSS*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  background-color: white; /*Default is white*/
  font-family: 'Montserrat';
}

p, blockquote {
  font-size: .9em;
  /*em is a scalable unit
   *Default: 1em = 12pt = 16px = 100%
  */

  line-height: 1.6em;
  /*line-height is the spacing between lines
   * i.e. "double spaced" or "1.15"
  */
}

ul {
  list-style-type: none; /* Gets rid of bullet point in front of list items*/
  margin: 0; /*Whitespace outside of the specified element*/
  padding: 0; /*Whitespace within the specified element*/
}

.container {
  text-align: center;
  padding: .8em 1.2em;
  /*padding: [Top] [Bottom] [Left] [Right];
   *If only one is specified, it applies to all directions
  */
}